.crtmain {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
}

.mcont2 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
}

.avbs21 {
  position: absolute;
  width: 1000000px;
  height: 1000000px;
  left: 0;
  top: 0;
}

.shrink2 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
}
.amesad {
  position: absolute;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0;
}

.remove-li {
  font-size: 34px;
  line-height: 0.1;
  position: absolute;
  margin-top: 3px;
  color: red;
}
.adm-container {
  padding: 25px;
}
